html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif; 
  font-size: 16px;
}
canvas {
  display: block;
  z-index: -1;
  position: fixed;
  margin: auto;
}

section#ui {
  position: fixed;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav > * {
  margin-bottom: 0.5em;
}

.hidden {
  display: none !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Handjet', cursive;
  letter-spacing: 1.5px;
  text-align: center;
}

h2 {
  font-size: 2em;
}

.pl-2 {
  padding-left: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  min-width: 100px;
  padding: 0.5rem 0.2rem;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fff;
}

button:hover {
  background-color: #333;
  color: #fff;
}

.gameover {
  font-size: 2rem;
}

#credits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#credits > * {
  margin: 1rem;
  padding: 2rem;
  background-color: #fff;
  color: #333;
}

#loading {
  margin: 5rem;
}

#howTo {
  max-width: 60vw;
  padding: 2rem;
  background-color: #fff;
  color: #333;

  @media screen and (max-width: 768px) {
    max-width: 90vw;
  }
}