html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif; 
  font-size: 16px;
}
canvas {
  display: block;
  z-index: -1;
  position: fixed;
  margin: auto;
}

section#ui {
  position: fixed;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav > * {
  margin-bottom: 0.5em;
}

.hidden {
  display: none;
}

h1, h2, h3, h4 {
  font-family: 'Handjet', cursive;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 2em;
}
